header {
  height: 92px;
}
.blog h2 {
  text-align: center;
}
.blog-header .container {
  padding-top: 120px;
  gap: 20px;
  align-items: center;
  text-align: center;
}
.blog-header p {
  width: 80%;
}
.blog-header img {
  width: 100%;
  height: 470px;
  object-fit: cover;
}
