header {
  height: 92px;
}
.blog h2 {
  text-align: center;
}
.blog-header .container {
  padding-top: 120px;
  gap: 20px;
  align-items: center;
  text-align: center;
}
.blog-header p {
  width: 80%;
}
.blog-header h2,
.blog-header span,
.blog-header p,
.blog-header h3 {
  color: #282938;
}
.blog-header a {
  color: #2405f2;
}
.blog-header img {
  width: 100%;
  height: 470px;
  object-fit: cover;
}
.blogpost .container {
  width: 100%;
  align-items: start;
  text-align: justify;
  gap: 10px;
  padding-top: 40px;
  padding-bottom: 120px;
  padding-left: 120px;
  padding-right: 120px;
}
.blogpost h3 {
  text-align: start;
}
@media (max-width: 768px) {
  .blogpost .container {
    padding-left: 0;
    padding-right: 0;
    gap: 20px;
  }
}
