header {
  height: 92px;
}
.contact .container {
  width: 100%;
  padding: 120px 0;
}
.contact-header {
  text-align: center;
  gap: 16px;
}
.contact-header p {
  width: 60%;
  opacity: 0.7;
}
.contact-header h2,
.contact-header p {
  color: #282938;
}
.contact-content {
  width: 80%;
  height: auto;
  border-radius: 12px;
  background: #f4f6fc;
  padding: 70px 50px;
}
.contact-input {
  align-items: start;
  gap: 10px;
  width: 40%;
}
.contact-input input {
  width: 100%;
  padding: 18px 32px;
  align-items: start;
  color: #000;
  border: 1px solid rgba(0, 0, 0, 0.12);
}
.contact-message {
  gap: 10px;
}
.contact-message textarea {
  width: 100%;
  padding: 18px 32px;
  border-radius: 8px;
  border: 1px solid rgba(0, 0, 0, 0.12);
  resize: none;
}
.sendmessage-btn {
  display: flex;
  padding: 15px 51px;
  justify-content: center;
  align-items: center;
  background: #282938;
  color: #f4f6fc;
  font-family: Manrope;
  font-size: 18px;
  font-weight: 600;
}
@media (max-width: 768px) {
  .contact-content {
    width: 100%;
  padding: 70px 20px;
  }
  .contact-inputs {
    flex-direction: column;
  }
  .contact-input {
    width: 100%;
  }
  .contactpage-btn{
    display: flex;
    justify-content: center;
}
}
