.faq {
  background-color: #fff;
}
.faq .container {
  width: 100%;
  height: auto;
  padding: 120px 0;
}
.faq-header {
  width: 30%;
  gap: 10px;
}
.faq-content {
  width: 65%;
}
.faq-item {
  width: 100%;
  cursor: pointer;
  border-bottom: 2px solid #ececf1;
  margin-bottom: 5px;
  padding-bottom: 5px;
}
.faq-item p {
  padding-bottom: 30px;
}
.faq-item span {
  color: #2405f2;
  font-size: 24px;
  font-weight: 500;
  line-height: 36px;
}
.faq-item > div {
  width: 100%;
  gap: 10px;
}

@media (max-width: 768px) {
  .faq .container {
    height: auto;
    flex-direction: column;
    gap: 50px;
  }
  .faq-header {
    text-align: center;
  }
  .faq-header,
  .faq-content {
    width: 100%;
  }
}
