.features {
  background-color: #f4f6fc;
}
.features .container {
  width: 100%;
  height: auto;
  padding: 120px 0;
}
.features-header {
  width: 50%;
  text-align: center;
}
.features-cards {
  width: 100%;
  display: grid;
  grid-template-columns: repeat(3, 380px);
  grid-template-rows: repeat(2, 300px);
  justify-content: center;
  gap: 15px;
}
.feature-card {
  padding: 50px 40px;
  background-color: #fff;
  gap: 10px;
}
.feature-card i {
  font-size: 25px;
  color: #2405f2;
}
.features-header p,
.features-header h2,
.feature-card h6,
.feature-card p {
  color: #282938;
}

@media (max-width: 1200px) {
  .features-cards {
    grid-template-columns: repeat(2, 380px);
  }
}
@media (max-width: 768px) {
  .features-cards {
    grid-template-columns: repeat(1, 380px);
  }
}
@media (max-width: 600px) {
  .features-cards {
    grid-template-columns: repeat(1, 100%);
  }
}
