.footer-top {
  background-color: #1c1e53;
}
.footer-top .container {
  padding-top: 96px;
  width: 100%;
  height: auto;
  /* height: 400px; */
  align-items: start;
  color: #fff;
}
.footer-top-left {
  width: 40%;
  gap: 70px;
}
.footer-top-right {
  width: 40%;
  padding-right: 96px;
}
.footer-card {
  height: 95px;
  width: 100%;
  background-color: #fcd980;
}
.footer-card > div {
  color: #282938;
}
.footer-top .social-links {
  gap: 20px;
}
.footer-top .social-link {
  color: #fff;
  font-size: 16px;
}
.footer-header {
  display: flex;
  flex-direction: column;
  gap: 15px;
}
.footer-header span {
  color: rgb(255, 255, 255, 0.8);
  font-size: 16px;
  font-weight: 500;
  line-height: 28px;
}
.footer-header p {
  color: rgb(244, 246, 252, 0.8);
}

footer {
  background-color: #fff;
}
footer .container {
  height: 92px;
}
.footer-links {
  flex-wrap: wrap;
  align-items: center;
  justify-content: center;
}

@media (max-width: 768px) {
  .footer-top .container {
    flex-direction: column;
    gap: 30px;
    padding-bottom: 96px;
  }
  .footer-top-left,
  .footer-top-right {
    width: 100%;
  }
  .footer-top-right {
    padding-right: 0;
  }
  footer .container {
    flex-direction: column;
    gap: 20px;
  }
  footer {
    padding: 50px 0;
  }
  .footer-links {
    align-items: center;
    justify-content: center;
    gap: 10px;
  }
}
@media (max-width: 600px) {
}
