header {
  height: 92px;
}
.pricing {
  background-color: #fff;
}
.pricing .container {
  width: 100%;
  padding: 120px 0;
}
.pricing-header {
  gap: 16px;
}
.pricing-header p {
  width: 50%;
  text-align: center;
}
.pricing-header h2,
.pricing-header p {
  color: #282938;
}
.pricing-content {
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.pricing-card {
  width: 30%;
  height: 700px;
  border-radius: 12px;
  padding: 60px 50px;
  background-color: #f4f6fc;
  justify-content: space-between;
}
.pricing-background {
  position: relative;
  background-color: #282938;
  z-index: 1;
}
.pricing-card-overlay {
  height: 95%;
  width: 100%;
  position: absolute;
  top: 0;
  left: 0;
  clip-path: circle(100% at 50% 0);
  background-color: rgb(255, 255, 255, 0.06);
  z-index: -1;
}
.pricing-header .price,
.pricing-header .pricing-text {
  gap: 8px;
}
.pricing-list .icon {
  color: #97daad;
  padding-right: 10px;
}
.pricing-list .icon-grey {
  fill: #fc80ad;
  mix-blend-mode: luminosity;
}
.pricing-card button {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 15px 51px;
  color: #fff;
  background: #282938;
}
.pricing-card h3,
.pricing-card p,
.pricing-card h6,
.pricing-card span {
  color: #282938;
}
.pricing-header .price p {
  color: #2405f2;
}

.pricing-background h3,
.pricing-background p,
.pricing-background h6,
.pricing-background span {
  color: #fff;
}
.pricing-background .pricing-header .price p {
  color: #fcd980;
}
.pricing-background button {
  background: #fcd980;
  color: #282938;
}
@media (max-width: 768px) {
  .pricing-content {
    flex-direction: column;
    gap: 30px;
  }
  .pricing-card {
    width: 100%;
    height: 550px;
  }
}
