.projects {
  background-color: #fff;
}
.projects .container {
  width: 100%;
  padding: 120px 0;
  border: 1px solid red;
}
.project-card-left {
  width: 60%;
  height: 630px;
}
.project-card-right {
  width: 40%;
}
.project-card {
  height: 100%;
  position: relative;
  cursor: pointer;
}
.project-card-mob {
  width: 100%;
  height: 300px;
  position: relative;
  cursor: pointer;
}
.project-img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.project-overlay,
.project-overlay-mob {
  width: 50%;
  height: 100%;
  position: absolute;
  left: 0;
  top: 0;
  background: linear-gradient(306deg, #1c1e53 0%, rgba(28, 30, 83, 0.42) 100%);
  justify-content: end;
  padding: 50px 30px;
  color: #fff;
}
.project-overlay-mob {
  width: 100%;
}

.projects h6 {
  font-size: 24px;
  font-weight: 600;
  line-height: 36px;
}
.projects h2 {
  color: #282938;
}
.projects a {
  color: #282938;
}
.project-card a,
.project-card-mob a {
  color: #fcd989;
}

@media (max-width: 768px) {
    .project-header{
        flex-direction: column;
        gap: 30px;
    }
    .project-cards{
        flex-direction: column;
    }
    .project-card-left {
        width: 100%;
        /* height: 630px; */
      }
      .project-card-right {
        width: 100%;
      }
}
@media (max-width: 600px) {
  .workflow-card-wrapper {
    grid-template-columns: 100%;
    gap: 50px;
  }
}
