@import url("https://fonts.googleapis.com/css2?family=Lato:wght@400;700&family=Lexend+Deca:wght@400;500;700&family=Poppins:wght@400;500;600;700&family=Roboto:wght@300;400;700&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Lato:wght@400;700&family=Lexend+Deca:wght@400;500;700&family=Manrope:wght@400;500;600;700&family=Poppins:wght@400;500;600;700&family=Roboto:wght@300;400;700&display=swap");
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body {
  font-family: Poppins, sans-serif;
}
a {
  text-decoration: none;
}
ul {
  list-style-type: none;
}
button {
  border: none;
  background-color: transparent;
}
p {
  font-size: 16px;
  font-weight: 400;
  line-height: 28px;
}
h1 {
  font-size: 54px;
  font-weight: 600;
  line-height: 74px;
}
h2 {
  font-size: 48px;
  font-weight: 600;
  line-height: 64px;
}
h3 {
  font-size: 38px;
  font-weight: 600;
  line-height: 56px;
}
h5 {
  font-size: 32px;
  font-weight: 500;
  line-height: 48px;
}
h6 {
  font-size: 24px;
  font-weight: 500;
  line-height: 36px;
}
.flex {
  display: flex;
}
.align-center {
  align-items: center;
}
.justify-center {
  justify-content: center;
}
.justify-between {
  justify-content: space-between;
}
.flex-col {
  flex-direction: column;
}
.container {
  max-width: 1200px;
  margin: 0 auto;
}
.gap {
  gap: 30px;
}
.button {
  border-radius: 41px;
  border: 2px solid rgba(244, 246, 252, 0.2);
  cursor: pointer;
  transition: 0.3s all ease;
}
.a-arrow {
  font-size: 16px;
  font-weight: 500;
  line-height: 28px;
}
.a-arrow:hover .icon {
  padding-left: 20px;
}
.a-arrow .icon {
  font-size: 14px;
  padding-left: 10px;
  transition: 0.3s all ease;
}
.input {
  border-radius: 8px;
  border: 1.5px solid rgba(255, 255, 255, 0.05);
  color: #f4f6fc;
  font-size: 16px;
  line-height: 28px;
}
@media (max-width: 1200px) {
  .container {
    max-width: 1000px;
  }
}
@media (max-width: 992px) {
  .container {
    max-width: 900px;
  }
}
@media (max-width: 768px) {
  .container {
    max-width: 568px;
  }
}
@media (max-width: 600px) {
  .container {
    max-width: 300px;
  }
  p {
    font-size: 13px;
    line-height: 25px;
  }
  h1 {
    font-size: 34px;
    line-height: 40px;
  }
  h2 {
    /* bilinmir */
    font-size: 28px;
    line-height: 30px;
  }
  h3 {
    /* bilinmir */
    font-size: 24px;
    line-height: 25px;
  }
  h5 {
    font-size: 21px;
    line-height: 22px;
  }
  h6 {
    /* bilinmir */
    font-size: 18px;
    font-weight: 500;
  }
  .a-arrow {
    font-size: 13px;
    line-height: 28px;
  }
}
