header {
  background: #1c1e53;
  width: 100%;
  height: 760px;
}
/* NAVBAR START */
nav .container {
  width: 100%;
  height: 92px;
}
.logo {
  text-transform: uppercase;
  letter-spacing: 1px;
  font-size: 1.4em;
  font-weight: 700;
  color: #fff;
}
.menu-link {
  color: #bbbbcb;
  font-weight: 500;
}
.menu-link:hover,
.menu-link.active {
  color: #fff;
}
.contact-btn {
  padding: 13px 35px;
  background-color: transparent;
  color: #fff;
  font-size: 1em;
}
.contact-btn:hover {
  background-color: #fff;
  color: #000;
}
.menu-btn {
  display: none;
  color: #fff;
}
/* NAVBAR END */

/* HERO START */
.hero .container {
  height: 660px;
}
.hero-text,
.hero-img-wrapper {
  width: 50%;
  color: #fff;
}
.hero-text h1 {
  padding-bottom: 20px;
}
.hero-text p {
  padding-bottom: 30px;
}
.hero-text a {
  color: #fff;
}
.hero-btn {
  background: #fcd980;
  padding: 16px 56px;
  color: #1b1c2b;
  font-family: Manrope, sans-serif;
  font-size: 18px;
  font-weight: 600;
  line-height: 32px;
}
.hero-btn:hover {
  background: transparent;
  color: #fff;
}
.hero-img {
  width: 100%;
  height: 100%;
}
/* HERO END */

/* WORKFLOW START */
.workflow {
  background-color: #f4f6fc;
}
.workflow .container {
  width: 100%;
  height: 660px;
  padding: 120px 0;
}
.workflow-text {
  width: 35%;
  gap: 10px;
}
.workflow-card-wrapper {
  width: 55%;
  display: grid;
  grid-template-columns: repeat(2, 50%);
  grid-template-rows: repeat(2, auto);
  gap: 15px;
  padding: 10px;
}
.card-number {
  width: 50px;
  height: 50px;
  background-image: url("./img/number.svg");
  background-color: #2405f2;
  border-radius: 8px;
  color: #fff;
}
.workflow-text h2,
.workflow-card h5,
.workflow p {
  color: #282938;
}
.workflow-text a {
  color: #2405f2;
}
/* WORKFLOW END */

/* PROJECTS START */
.projects {
  background-color: #fff;
}
.projects .container {
  width: 100%;
  padding: 120px 0;
}
.project-card-left {
  width: 60%;
  height: 630px;
}
.project-card-right {
  width: 40%;
}
.project-card {
  height: 100%;
  position: relative;
  cursor: pointer;
}
.project-card-mob {
  width: 100%;
  height: 300px;
  position: relative;
  cursor: pointer;
}
.project-img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}
.project-overlay,
.project-overlay-mob {
  width: 50%;
  height: 100%;
  position: absolute;
  left: 0;
  top: 0;
  background: linear-gradient(306deg, #1c1e53 0%, rgba(28, 30, 83, 0.42) 100%);
  justify-content: end;
  padding: 50px 30px;
  color: #fff;
}
.project-overlay-mob {
  width: 100%;
}
.projects h6 {
  font-size: 24px;
  font-weight: 600;
  line-height: 36px;
}
.projects h2 {
  color: #282938;
}
.projects a {
  color: #282938;
}
.project-card a,
.project-card-mob a {
  color: #fcd989;
}
/* PROJECTS END */

/* FEATURES START */
.features {
  background-color: #f4f6fc;
}
.features .container {
  width: 100%;
  height: auto;
  padding: 120px 0;
}
.features-header {
  width: 50%;
  text-align: center;
}
.features-cards {
  width: 100%;
  display: grid;
  grid-template-columns: repeat(3, 380px);
  grid-template-rows: repeat(2, 300px);
  justify-content: center;
  gap: 15px;
}
.feature-card {
  padding: 50px 40px;
  background-color: #fff;
  gap: 10px;
}
.feature-card i {
  font-size: 25px;
  color: #2405f2;
}
.features-header p,
.features-header h2,
.feature-card h6,
.feature-card p {
  color: #282938;
}
/* FEATURES END */

/* TESTIMONIALS START */
.testimonials {
  background-color: rgb(244, 246, 252, 0.5);
}
.testimonials .container {
  width: 100%;
  height: 506px;
  padding: 130px 0;
}
.testimonial-header {
  width: 30%;
  gap: 10px;
}
.testimonial-slider {
  width: 65%;
  gap: 50px;
}
.testimonial-btn {
  width: 25px;
  height: 25px;
  border: none;
  border-radius: 50%;
  position: relative;
  background-color: transparent;
  color: rgb(40, 41, 56, 0.7);
  transition: 0.3s all ease;
  cursor: pointer;
}
.testimonial-btn:hover {
  color: #fff;
  background-color: #5239fa;
}
.testimonial-btn i {
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
}
.testimonial-header h3,
.testimonial-slider h5 {
  color: #282938;
}
.testimonial-header p {
  color: rgb(40, 41, 56, 0.7);
}
.testimonial-user {
  gap: 10px;
}
#testimonialimg {
  width: 60px;
  height: 60px;
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  border-radius: 50%;
}
.testimonial-user-name {
  color: #282938;
  font-size: 18px;
  font-weight: 500;
  line-height: 32px;
}
.testimonial-user-title {
  color: #282938;
  font-size: 12px;
  font-weight: 500;
  line-height: 28px;
}
/* TESTIMONIALS END */

@media (max-width: 1200px) {
  /* FEATURES START */
  .features-cards {
    grid-template-columns: repeat(2, 380px);
  }
  /* FEATURES END */
}

@media (max-width: 768px) {
  header {
    height: 100%;
  }
  /* NAVBAR START */
  nav .container {
    position: relative;
  }
  .menu {
    display: none;
  }
  .mb-menu {
    display: flex;
    width: 100%;
    height: auto;
    z-index: 2;
    position: absolute;
    top: 100%;
    left: 50%;
    transform: translate(-50%);
    flex-direction: column;
    padding: 40px 0;
    font-size: 1.5em;
    background-color: #1c1e53;
  }
  .menu-btn {
    display: block;
    font-size: 1.3em;
  }
  /* NAVBAR END */

  /* HERO START */
  .hero .container {
    height: 100%;
    flex-direction: column;
    padding: 40px;
    gap: 30px;
  }
  .hero-text,
  .hero-img-wrapper {
    width: 100%;
  }
  /* HERO END */

  /* WORKFLOW START */
  .workflow .container {
    height: auto;
    flex-direction: column;
    align-items: center;
    gap: 30px;
  }
  .workflow-text,
  .workflow-card-wrapper {
    width: 100%;
  }
  /* WORKFLOW END */

  /* PROJECTS START */
  .project-header {
    flex-direction: column;
    gap: 30px;
  }
  .project-cards {
    flex-direction: column;
  }
  .project-card-left {
    width: 100%;
  }
  .project-card-right {
    width: 100%;
  }
  /* PROJECTS END */

  /* FEATURES START */
  .features-cards {
    grid-template-columns: repeat(1, 380px);
  }
  /* FEATURES END */

  /* TESTIMONIALS START */
  .testimonials .container {
    height: auto;
    flex-direction: column;
    gap: 50px;
  }
  .testimonial-header,
  .testimonial-slider {
    width: 100%;
    text-align: center;
  }
  /* TESTIMONIALS END */
}
@media (max-width: 600px) {
  /* HERO START */
  .hero-btn-group {
    flex-direction: column;
  }
  .hero-btn {
    padding: 13px 34px;
    font-size: 16px;
    line-height: 32px;
  }
  /* HERO END */

  /* WORKFLOW START */
  .workflow-card-wrapper {
    grid-template-columns: 100%;
    gap: 50px;
  }
  /* WORKFLOW END */

  /* FEATURES START */
  .features-cards {
    grid-template-columns: repeat(1, 100%);
  }
  /* FEATURES END */

  /* TESTIMONIALS START */
  .testimonial-user-name {
    font-size: 16px;
    line-height: 16px;
  }
  /* TESTIMONIALS END */
}
