header {
  background: #1c1e53;
  width: 100%;
  height: 760px;
}
/* NAVBAR START */
nav .container {
  width: 100%;
  height: 92px;
}
#logo {
  text-transform: uppercase;
  letter-spacing: 1px;
  font-size: 1.4em;
  font-weight: 700;
  color: #fff;
}
.menu-link {
  color: #bbbbcb;
  font-weight: 500;
}
.menu-link:hover,
.menu-link.active {
  color: #fff;
}
.contact-btn {
  padding: 13px 35px;
  background-color: transparent;
  color: #fff;
  font-size: 1em;
}
.contact-btn:hover {
  background-color: #fff;
  color: #000;
}
.menu-btn {
  display: none;
  color: #fff;
}
/* NAVBAR END */

/* HERO START */
.hero .container {
  height: 660px;
}
.hero-text,
.hero-img-wrapper {
  width: 50%;
  color: #fff;
}
.hero-text h1 {
  padding-bottom: 20px;
}
.hero-text p {
  padding-bottom: 30px;
}
.hero-text a {
  color: #fff;
}
.hero-btn {
  background: #fcd980;
  padding: 16px 56px;
  color: #1b1c2b;
  font-family: Manrope, sans-serif;
  font-size: 18px;
  font-weight: 600;
  line-height: 32px;
}
.hero-btn:hover {
  background: transparent;
  color: #fff;
}
.hero-img {
  width: 100%;
  height: 100%;
}
/* HERO END */

@media (max-width: 768px) {
  header {
    height: 100%;
  }
  /* NAVBAR START */
  nav .container {
    position: relative;
  }
  .menu {
    display: none;
  }
  .mb-menu {
    display: flex;
    width: 100%;
    height: auto;
    z-index: 2;
    position: absolute;
    top: 100%;
    left: 50%;
    transform: translate(-50%);
    flex-direction: column;
    padding: 40px 0;
    font-size: 1.5em;
    background-color: #1c1e53;
  }
  .menu-btn {
    display: block;
    font-size: 1.3em;
  }
  /* NAVBAR END */

  /* HERO START */
  .hero .container {
    height: 100%;
    flex-direction: column;
    padding: 40px;
    gap: 30px;
  }
  .hero-text,
  .hero-img-wrapper {
    width: 100%;
  }
  /* HERO END */
}
@media (max-width: 600px) {
  /* HERO START */
  .hero-btn-group {
    flex-direction: column;
  }
  .hero-btn {
    padding: 13px 34px;
    font-size: 16px;
    line-height: 32px;
  }
  /* HERO END */
}
