.testimonials {
  background-color: rgb(244, 246, 252, 0.5);
}
.testimonials .container {
  width: 100%;
  height: 506px;
  padding: 130px 0;
  border: 1px solid red;
}
.testimonial-header {
  width: 30%;
  gap: 10px;
}
.testimonial-slider {
  width: 65%;
  gap: 50px;
}
